.form__container{
    max-width: 600px;
     margin: auto;
     /* background-color: black; */
     padding: 20px;
     border-radius: 20px;
 }
 
 .form__container label {
     color: white;
     font-weight: 500;
 }

 .form__container .btn__enviar {
    border: 1px solid white;
 }