
.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.457), rgba(0, 0, 0, 0.405)),
    url("../../imagenes/manejando-xl.jpg");
  min-height: 92vh;
  display: flex;
  align-items: center;
}

.banner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 15% 0; */
}

.banner h1 {
  margin: 0;
  color: var(--bg-nav);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 5rem;
  font-weight: bold;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.banner h2 {
  margin: 0;
  color: var(--bg-nav);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 3rem;
  font-weight: bold;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  /* font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal; */
}

.banner__btn {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner .mensaje{
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-nav-t);
  border-radius: 20px;
  /* background-image: url("../../imagenes/ubica.png");
  background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  font-family: "Protest Riot", sans-serif;
  font-size: 30px;
  width: auto;
}

.banner .mensaje input {
  background-color: var(--bg-nav-t);
  border-radius: 10px;
  text-align: center;
  border: none; /* Oculta los bordes del input */
  color: white; /* Color del texto */
  margin: 5px 0; /* Ajusta el margen según tus preferencias */
  outline: none; /* Oculta el contorno al hacer clic (puedes ajustar esto según tus preferencias) */
}

@media screen and (max-width: 1900px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.457), rgba(0, 0, 0, 0.405)),
      url("../../imagenes/manejando.jpg");
  }
}


@media screen and (max-width: 800px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.457), rgba(0, 0, 0, 0.405)),
      url("../../imagenes/manejando-sm.jpg");
  }

  .banner h1 {
    font-size: 4rem;
  }

  .banner .mensaje{

    font-size: 28px;

  }
 
}

@media screen and (max-width: 550px) {
  /* .banner h1 {
    font-size: 2.5rem;
  } */
  .banner .texto-dinamico {
    height: 100px;
    display: flex;
    align-items: center;
  }
}
