.contacto__container  .mensaje {
    border-radius: 20px;
}

.contacto__container  .mensaje h4 {
    color: white;
    text-align: center;
}

.contacto__container .contacto_form {
    min-height: 88vh;
    display: flex;
    align-items: center;
}