:root {
  --bg-body: rgb(32, 124, 50);
  --bg-nav: rgb(168, 214, 168);
  --color-font: rgb(0, 0, 0);
  --color-hover: rgb(32, 124, 50);
  --font-family-1: "Protest Riot", sans-serif;
  --font-family-2:"Protest Guerrilla", sans-serif;
  --font-family-z: "Permanent Marker", cursive;

}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: var(--bg-body);
  min-height: 100vh;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

/* img {
  width: 100%;
  vertical-align: middle;
  aspect-ratio: 16/9;
  object-fit: cover;
} */